body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    
  }

  h1 {
    color: #808080;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }

  input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

.voltar{
  background-color: #2ecc71;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.voltar:hover{
  background-color: #27ae60;
}

#voltar{
  text-decoration: none;
}

  button:hover {
    background-color: #27ae60;
  }

  #salarioTotal {
    font-size: 24px;
    margin-top: 20px;
    color: #2ecc71;
  }
  .radio-button {
    margin-top: 20px;
  }

  #mostrarRadio {
    display: flex;
    align-items: center;
    margin-left: 90px;
    margin-right: 90px;
  }

  #mostrarRadio {
    display: flex;
    align-items: center;
  }

  #mostrarRadio input[type="radio"] {
    margin-right: 10px;
  }

  #mostrarRadio label {
    margin-left: -10px;
  }