<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Tamanho</title>
</head>
<body alink="white" vlink="white" link="white">
    <div id="container"> 
        <form action="../controller/ctrlTamanho.php" method="post">
            <h1>Tamanho</h1>
            <label for="sigla">Insira o tamanho do produto</label> 
            <select name="sigla" id="sigla" required>
                <option value="">Selecione o tamanho:</option>
                <option value="PP">PPTam</option>
                <option value="P">PTam</option>
                <option value="M">MTam</option>
                <option value="G">GTam</option>
                <option value="GG">GGTam</option>
                <option value="XG">XGTam</option>
                <option value="XXG">XXGTam</option>
            </select> <br>
            <br>
            <button type="submit">
                Enviar  
            </button>
            <br>
            <br>
        </form>
        <button class="voltar"><a href="home.html" id="voltar">Voltar</a></button>
    </div>
</body>
</html>