<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Produto</title>
</head>
<body alink="white" vlink="white" link="white">
    <div id="container"> 
        <form action="../controller/ctrlProduto.php" method="post">
            <h1>Produto</h1>
            <label for="corProduto">Insira a cor do produto:</label>
            <input type="text" name="corProduto" id="corProduto" maxlength="20" required> <br>

            <label for="nomeProduto">Insira o nome do produto:</label>
            <input type="text" name="nomeProduto" id="nomeProduto" maxlength="70" required> <br>

            <label for="modeloProduto">Insira o modelo do produto:</label>
            <input type="text" name="modeloProduto" id="modeloProduto" maxlength="70" required> <br>

            <label for="tecidoProduto">Insira o tecido do produto:</label>
            <input type="text" name="tecidoProduto" id="tecidoProduto" maxlength="50" required> <br>

            <label for="marcaProduto">Insira a marca do produto:</label>
            <input type="text" name="marcaProduto" id="marcaProduto" maxlength="70" required>
            
            <button type="submit">
                Enviar  
            </button>
            <br>
            <br>
        </form>
        <button class="voltar"><a href="home.html" id="voltar">Voltar</a></button>
    </div>
</body>
</html>