<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Venda</title>
</head>

<body>
    <div id="container">
        <form action="../controller/ctrlVenda.php" method="post">
            <h1>Venda</h1>
            <label id="nfVenda">Informe a nota fiscal:</label>
            <input type="number" name="nfVenda" id="nfVenda" maxlength="7" required><br>

            <label id=" dataVenda">Informe a data:</label>
            <input type="date" name="dataVenda" id="dataVenda" required><br>
            
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>