<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tamanho</title>
</head>
<body>
    <div id="container"> 
        <form action="tableTamanho.php" method="post">
            <h1>Tamanho</h1>
            <label for="nomeTamanho">Insira o tamanho do produto</label> 
            <select name="nomeTamanho" id="nomeTamanho">
                <option value="">Selecione o tamanho:</option>
                <option value="PP">PP</option>
                <option value="P">P</option>
                <option value="M">M</option>
                <option value="G">G</option>
                <option value="GG">GG</option>
                <option value="XG">XG</option>
                <option value="XXG">XXG</option>
            </select> <br>
            <br>
            <button type="submit">
                Enviar  
            </button>
        </form>
    </div>
</body>
</html>