<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Endereço</title>
</head>
<body>
    <div id="container">
      <form method="post" action="#">
        <label id="cepEndereco">Cep:</label>
            <input type="number" id="cepEndereco" name="cepEndereco">
        <br>

        <label id="tipoEndereco">Logradouro:</label>
            <input type="text" id="tipoEndereco" name="tipoEndereco" maxlength="20">
        <br>

        <label id="ruaEndereco">Rua:</label>
            <input type="text" id="ruaEndereco" name="ruaEndereco" maxlength="35">
        <br>

        <label id="cidadeEndereco">Cidade:</label>
            <input type="text" id="cidadeEndereco" name="cidadeEndereco" maxlength="29">
        <br>

        <label id="bairroEndereco">Bairro:</label>
            <input type="text" id="bairroEndereco" name="bairroEndereco" maxlength="35">
        <br>

        <label id="utfEndereco">Estado:</label>
            <input type="text" id="utfEndereco" name="utfEndereco" maxlength="20">
        <br>

        <button type="submit">Enviar</button>
        </form>  
    </div>
</body>
</html>