<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Venda Item</title>
</head>
<body>
    <div id="container">
        <form action="../controller/ctrlVitem.php" method="post">
            <h1>Venda-Item</h1>
            <label id="qtdadevItem">Quantidade de Itens Vendidos:</label>
            <input type="number" name="qtdadevItem" id="qtdadevItem"><br>

            <label id="precovItem">Preço por item vendido:</label>
            <input type="number" name="precovItem" id="precovItem"><br>
            
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>