<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Consulta CEP</title>
  </head>
  <body>
    <div id="container">
      <h1>Endereço</h1>
      <form action="../controller/ctrlCliente.php" method="post">
        <label for="cepEnd">CEP</label>
        <input type="text" maxlength="9" name="cepEnd" id="cep"/>
        <br/>

        <label for="ruaEnd">Rua</label>
        <input type="text" name="ruaEnd" id="rua" />
        <br/>

        <label for="numeroEnd">Número da casa</label>
        <input type="number" name="numeroEnd" id="numero" />
        <br />

        <label for="bairroEnd">Bairro</label>
        <input type="text" name="bairroEnd" id="bairro" />
        <br />

        <label for="cidadeEnd">Cidade</label>
        <input type="text" name="cidadeEnd" id="cidade " />
        <br />

        <label for="ufEnd">UF</label>
        <input type="text" name="ufEnd" id="uf" />
        <br />

        <button type="submit">Enviar</button>
      </form>
    </div>
    <script src="../src/js/main.js"></script>
  </body>
</html>
