<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Estoque</title>
</head>
<body>
    <div id="container">
     <form method="post" action="#">
        <label id="lote">Lote: </label>
            <input type="number" id="lote" name="lote">
        <br>

        <label id="dataEstq">Data do estoque: </label>
            <input type="date" id="dataEstq" name="dataEstq">
        <br>

        <label id="quantidadeEstq">Quantidade estoque: </label>
            <input type="number" id="quantidadeEstq" name="quantidadeEstq">
        <br>

        <label id="precoCusto">Preço de custo: </label>
            <input type="text" id="precoCusto" name="precoCusto">
        <br>

        <label id="precoVenda">Preço de venda: </label>
            <input type="text" id="precoVenda" name="precoVenda">
        <br>
        
        <button type="submit">Enviar</button>
     </form>   
    </div>
</body>
</html>