<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cliente</title>
</head>

<body>
    <div id="container">
        <form action="../controller/ctrlCliente.php" method="post">
            <h1>Cliente</h1>
            <label id="nomeCliente" for="nomeCliente">Informe o nome:</label>
            <input type="text" name="nomeCliente" id="nomeCliente" maxlength="100"> <br>
            <label id="cpfCliente" for="cpfCliente">Informe o CPF:</label>
            <input type="number" name="cpfCliente" id="cpfCliente" maxlength="11"><br>
            <label id="telCliente" for="telCliente"> Informe o telefone:</label>
            <input type="number" name="telCliente" id="telCliente" maxlength="11"><br>
            <label id="emailCliente" for="emailCliente"> Informe o e-mail:</label>
            <input type="email" name="emailCliente" id="emailCliente" maxlength="70"><br>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>

</html>
