<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cliente</title>
</head>

<body>
    <label id="nomeCliente">inserir o nome</label> <br><br>
    <input type="text" name="nomeCliente" id="nomeCliente"> <br><br>
    <label id="cpfCliente">inserir CPF</label> <br><br>
    <input type="number" name="cpfCliente" id="cpfCliente"><br><br>
    <label id="telCliente"> inserir telefone</label><br><br>
    <input type="number" name="telCliente" id="telCliente"><br><br>
    <label id="emailCliente"> inserir Email</label><br><br>
    <input type="email" name="emailCliente" id="emailCliente"><br><br>
    <label id="numResidCliente"> inserir numero da residência</label><br><br>
    <input type="number" name="numResidCliente" id="numResidCliente"><br><br>
    <label id="obsResidCliente"> inserir obs da residência</label><br><br>
    <input type="text" name="obsResidCliente" id="obsResidCliente"><br><br>

</body>

</html>