<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Consulta CEP</title>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="jquery.js"></script>
</head>

<body>
  <div id="container">
    <h1>Endereço</h1>
    <form action="../controller/ctrlEndereco.php" method="post">
      <label for="cepEnd">CEP</label>
      <input type="text" maxlength="9" name="cepEnd" id="cep" />
      <br />

      <label for="ruaEnd">Rua</label>
      <input type="text" name="ruaEnd" id="logradouro" />
      <br />

      <label for="numeroEnd">Número da casa</label>
      <input type="number" name="numeroEnd" id="numero" />
      <br />

      <label for="bairroEnd">Bairro</label>
      <input type="text" name="bairroEnd" id="bairro" />
      <br />

      <label for="cidadeEnd">Cidade</label>
      <input type="text" name="cidadeEnd" id="localidade" />
      <br />

      <label for="ufEnd">UF</label>
      <input type="text" name="ufEnd" id="uf" />
      <br />

      <a>Deseja informar complemento?</a><br><br>
      <label id="mostrarRadio">
        <input type="radio" name="complemento" value="sim" id="csim" class="radio-button">Sim
        <input type="radio" name="complemento" value="nao" id="cnao" class="radio-button">Não
      </label>
      <label id="complResidCliente" for="complResidCliente" style="display:none;"> Informe o complemento da
        residência:</label>
      <input type="text" name="complResidCliente" id="complResidCliente" maxlength="70" style="display:none;"><br>
      <label id="obsResidCliente" for="obsResidCliente" style="display:none;"> Informe a observação da
        residência:</label>
      <input type="text" name="obsResidCliente" id="obsResidCliente" maxlength="70" style="display:none;">

      <button type="submit">Enviar</button>
    </form>
  </div>
</body>
<script src="../src/js/main.js"></script>
</html>